<!doctype html>
<html>
<head>
<meta charset="utf-8">
	<meta name="viewport" width="device-width,inital-scale=1">
<title>Untitled Document</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../css/Untitled-2.css">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

</head>
	
<body>
	<div class="main">
	<div class="container">
		<div class="top d-flex justify-content-between">
			<div class="top_left row col-6">
				<div class="col-2 lock">
					<i class="fal fa-user-lock"></i>
				</div>
				<div class="col-10 content ">
					<h2 class="h2">Login To Admin</h2>
					<p>Enter Your Credentials</p>
				</div>
			</div>
			<div class="top_right col-6">
				<h2 class="h2"><u>SILON .</u></h2>
			</div>
		</div>
	</div>
	</div>
	<div class="container">
		<div class="form_login">
			<div style="margin: 100px 0">
			<div class="admin" style="text-align: center;color: gray;font-weight: 600;margin-bottom: 50px ;">
				<h2 class="h2">Login Admin</h2>
			</div>
			<div class="content row col-12 col-sm-6" style="margin: auto;">
					<form class="col-12" method="POST" action="index.php?area=admin&controller=login&action=doLogin"  style="margin: auto;" >
						<ul class="click">

							<li>
								<lable class="input username">Username</lable>
							</li>
							<li>
								<input class="name" name="email" required placeholder="User name . . ." type="email">
							</li >
							<li>
								<lable class="input password" >Password</lable>
							</li>
							<li>
								<input class="pass" name="password" required placeholder="Pass word . . ." type="password">
							</li>

							<li>
								<a href="">Forgotten my password?</a>
							</li>
							<li>
							<li>
								<a href="#"><button class="col-12 col-sm-12 col-md-12 login_admin2" type="submit">Login </button></a>
							</li>
								
							</li>
							

						</ul>
					</form>
				</div>
		</div>
			</div>
	</div>
				<div class="footer col-12">
					<div>
						<p>Copyright © 2019 <a href=""><u>themeies.com</u></a> All rights reserved.</p><br/>SimpleAdmin theme by <a href=""><u>AdiPurdila</u></a>
					</div>
				</div>
</body>
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="../js/jquery.min.js" type="text/javascript"></script>
	<script src="../js/Untitled-3.js" type="text/javascript"></script>
</html>
